.App {
  text-align: center;
  color: #1abc9c;
}

.button {
  background-color: #2980b9;
  color: white;
  font: inherit;
  border: 1px solid;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
}

.button:hover {
  background-color: #3498db;
}